@import 'tailwindcss';

@font-face {
  font-family: 'tuffy';
  src: url('/src/assets/fonts/Tuffy-Regular.ttf') format('wotf2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'tuffy';
  src: url('/src/assets/fonts/Tuffy-Italic.ttf') format('wotf2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'tuffy';
  src: url('/src/assets/fonts/Tuffy-Bold.ttf') format('wotf2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'tuffy';
  src: url('/src/assets/fonts/Tuffy-BoldItalic.ttf') format('wotf2');
  font-weight: 700;
  font-style: italic;
}
